
section {
  margin: 0 auto;
}

abbr[title] {
  text-decoration: none !important;
  color: red;
}

ul li img {
  width: 30%;
}

ul {
  list-style-type: none;
}

.pizza_img {
  display: inline-block;
}

.pizza_img input[type="radio"] {
  display: none;
}

.radio-boxes {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.radio-boxes:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.radio-boxes img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .radio-boxes {
  border-color: #ddd;
}

:checked + .radio-boxes:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + .radio-boxes img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}

.pizza_list_item {
  border: 1px solid rgb(163, 156, 156);
}

.chilli-pepper-image {
  height: 10px;
  width: auto;
  padding: 1%;
}

.pizza-title-block {
  display: flex;
  align-items: center;
}

.removePizzaMessage {
  display: none;
  border: 1px solid grey;
  width: 400px;
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.show {
  display: block;
}