body {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  background: url("./assets/img/pizza-PNG.png") right -10% bottom no-repeat;
  background-attachment: fixed;
}

.page-header {
  margin: 0;
  padding: 0;
  height: 6vh;
  line-height: 6vh;
  text-align: left;
  background-color: black;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#logo {
  margin: 0 0 0 5%;
  color: rgba(255, 255, 255, 1);
}

#slogan-block {
  background-image: url("./assets/img/pizza.jpg");
  height: 25vh;
  background-position: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

#slogan {
  background-color: rgba(255, 255, 255, 0.8);
  width: 60%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}

#slogan h1 {
  letter-spacing: 0.5rem;
}

.container {
  padding-top: 2%;
  width: 60%;
  margin: 0 auto;
}

#container-header {
  margin: 0 0 2% 0;
}

#required-description-msg {
  font-weight: 700;
}

#create-pizza-form {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  background-color: rgb(216, 216, 216);
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
}

#input-fields {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"] {
  border: solid 1.5px #d3d3d3;
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  transition: 0.3s;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  transition: 0.3s;
}

label {
  cursor: pointer;
}
label:hover {
  box-shadow: 0 0 5pt 0.5pt #5e5e5e;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="checkbox"]:hover + label,
input[type="radio"]:hover + label {
  box-shadow: 0 0 5pt 0.5pt #5e5e5e;
}

input[type="text"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 5pt 0.5pt #5e5e5e;
  outline-width: 0px;
  outline-color: #5e5e5e;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  filter: grayscale(1);
}

#submitForm {
  border: solid 1.5px rgb(40, 122, 40);
  line-height: 2.5;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 0%;
  color: white;
  background-color: rgb(40, 122, 40);
  text-transform: uppercase;
  cursor: pointer;
}
#submitForm:hover {
  border: solid 1.5px #ffffff;
}
#submitForm:focus {
  border: solid 1.5px #ffffff;
  outline-width: 0px;
  outline-color: #5e5e5e;
}
.input-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-boxes {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.input-boxes div {
  width: 50%;
  display: flex;
}

.labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs input {
  width: 100%;
  line-height: 1.5rem;
}

#toppings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toppings-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#toppings-container div {
  width: 50%;
  text-align: left;
  vertical-align: top;
}

#toppings-container div h3 {
  margin: 0;
}

.error-msg {
  color: red;
  font-size: 0.9rem;
}

abbr[title] {
  text-decoration: none !important;
  color: red;
  padding-right: 2%;
}

#image-checkbox h3 {
  margin: 0;
}

ul li img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.pizza_img {
  display: inline-block;
}

.pizza_img input[type="radio"] {
  display: none;
}

.radio-boxes {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.radio-boxes:before {
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.radio-boxes img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .radio-boxes {
  border-color: #fff;
}

:checked + .radio-boxes:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + .radio-boxes img {
  transform: scale(0.9);
  z-index: -1;
}

#pizza-menu h1,
h4 {
  margin: 2% 0 2% 0;
}

#sort-radio-fields {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sort-radio-fields div {
  width: 10%;
}
#sort-radio-fields div label {
  padding: 5%;
}

#pizza_list_parent {
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  background-color: rgb(216, 216, 216);
}

.pizza_list_item {
  display: flex;
  flex-direction: column;
}

hr {
  width: 90%;
  color: rgb(163, 156, 156);
}

#created-pizza {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.pizza-info {
  width: 60%;
  text-align: left;
}
.pizza-info h3,
h2 {
  margin: 0;
}

#toppings-list-box {
  display: flex;
  align-items: center;
}
#toppings-list-box h4 {
  padding-right: 2%;
}
#toppings-list-box p {
  letter-spacing: 0.1rem;
}

#remove-pizza-button-div {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.remove-button {
  border: solid 1.5px red;
  line-height: 2.5;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 0%;
  color: white;
  background-color: red;
  text-transform: uppercase;
  cursor: pointer;
}

.remove-button:hover {
  border: solid 1.5px #ffffff;
}
.remove-button:focus {
  border: solid 1.5px #ffffff;
  outline-width: 0px;
  outline-color: #5e5e5e;
}

.chosen-image {
  width: 20%;
  text-align: center;
}

.chosen-pizza-photo.addStyling {
  padding: 5%;
  border: 1px solid #fff;
  width: 90%;
  max-height: 155px;
  object-fit: cover;
}

.chilli-pepper-image {
  height: 50px;
  width: auto;
  padding: 1%;
}

.pizza-title-block {
  display: flex;
  align-items: center;
}

#remove-pizza-message {
  opacity: 0;
  position: fixed;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0);
  width: 50%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 25%;
  top: 0%;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

#remove-pizza-message.show {
  opacity: 1;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
  top: 30%;
}

#remove-pizza-message button {
  margin: 0 2% 0 2%;
}

#remove-pizza-message p {
  font-weight: 700;
}

#confirm-remove {
  border: solid 1.5px red;
  line-height: 2.5;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 0%;
  color: white;
  background-color: red;
  text-transform: uppercase;
  cursor: pointer;
}

#confirm-remove:hover {
  border: solid 1.5px #ffffff;
}
#confirm-remove:focus {
  border: solid 1.5px #ffffff;
  outline-width: 0px;
  outline-color: #5e5e5e;
}

#cancel-remove {
  border: solid 1.5px rgb(40, 122, 40);
  line-height: 2.5;
  padding: 0 20px;
  transition: 0.3s;
  border-radius: 0%;
  color: white;
  background-color: rgb(40, 122, 40);
  text-transform: uppercase;
  cursor: pointer;
}

#cancel-remove:hover {
  border: solid 1.5px #ffffff;
}
#cancel-remove:focus {
  border: solid 1.5px #ffffff;
  outline-width: 0px;
  outline-color: #5e5e5e;
}

.price-box {
  display: flex;
  align-items: center;
}

.price-box h3 {
  padding: 0 0.2rem 0 0;
}

/* responsive parts */

@media screen and (max-width: 1400px) {
  body {
    background: url("./assets/img/pizza-PNG.png") right -20% bottom no-repeat;
    background-attachment: fixed;
  }

  .container,
  #slogan {
    width: 70%;
  }

  #remove-pizza-message button {
    padding: 0 1% 0 1%;
  }
}
@media screen and (max-width: 1200px) {
  body {
    background: url("./assets/img/pizza-PNG.png") right -30% bottom no-repeat;
    background-attachment: fixed;
  }

  .container,
  #slogan {
    width: 80%;
  }
  .input-boxes,
  #toppings-container {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  body {
    background: url("./assets/img/pizza-PNG.png") right -15% bottom no-repeat;
    background-attachment: fixed;
    background-size: auto 500px;
  }

  .input-boxes,
  #toppings-container div {
    width: 90%;
  }

  #sort-radio-fields {
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: url("./assets/img/pizza-PNG.png") right -20% bottom 10% no-repeat;
    background-attachment: fixed;
    background-size: auto 300px;
  }

  .container,
  #slogan {
    width: 90%;
  }
  #slogan-block {
    height: 20vh;
  }
  #slogan h1 {
    letter-spacing: 0.2rem;
  }

  p {
    font-size: 0.8em;
  }

  h4 {
    font-size: 0.9em;
  }

  h3 {
    font-size: 1em;
  }

  h2 {
    font-size: 1.2em;
  }
  h1 {
    font-size: 1.5em;
  }

  .remove-button {
    line-height: 2;
    font-size: 0.8em;
  }

  #remove-pizza-message button {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 414px) {
  body {
    background: url("./assets/img/pizza-PNG.png") right -40% bottom 15% no-repeat;
    background-attachment: fixed;
    background-size: auto 250px;
  }

  #toppings-container div {
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  #toppings-list-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .chosen-image {
    width: 25%;
  }
}

@media screen and (max-width: 320px) {
  #remove-pizza-message button {
    margin: 2%;
  }
}
